.container{
    background-color: aqua;
    padding-left: 200px;
    padding-top: 200px;
    height: 500px;

}
.box{
    width: 200px;
    height: 70px;
    background-color: beige;
}
.box:hover{
    background-color: chartreuse;
}
#div1{
    border:2px solid black;
    padding:25px;
    float:left;
    background-color: gray;
    margin:3px;

}
#div2{
    border:2px solid black;
    padding:25px;
    float:left;
    background-color: gray;
    margin:3px;
}
#div3{
    border:2px solid black;
    padding:25px;
    float:left;
    background-color: gray;
    margin:3px;
}
#div4{
    border:2px solid black;
    padding:25px;
    float:left;
    background-color: gray;
    margin:3px;
}
#div5{
    border:2px solid black;
    padding:25px;
    float:left;
    background-color: gray;
    margin:3px;
}
#div6{
    border:2px solid black;
    padding:25px;
    float:left;
    background-color: gray;
    margin:3px;
}
#div7{
    border:2px solid black;
    padding:25px;
    float:left;
    background-color: gray;
    margin:3px;
}
#div8{
    border:2px solid black;
    padding:25px;
    float:left;
    background-color: gray;
    margin:3px;
}
#div9{
    border:2px solid black;
    padding:25px;
    float:left;
    background-color: gray;
    margin:3px;
}
.clear-div{
    clear:both
}
#div1:hover{
    background-color: blue;
    font-weight: bolder;
    color:black;
}
#div2:hover{
    background-color: blue;
    font-weight: bolder;
    color:black;
}
#div3:hover{
    background-color: blue;
    font-weight: bolder;
    color:black;
}
#div4:hover{
    background-color: blue;
    font-weight: bolder;
    color:black;
}
#div5:hover{
    background-color: blue;
    font-weight: bolder;
    color:black;
}
#div6:hover{
    background-color: blue;
    font-weight: bolder;
    color:black;
}
#div7:hover{
    background-color: blue;
    font-weight: bolder;
    color:black;
}
#div8:hover{
    background-color: blue;
    font-weight: bolder;
    color:black;
}
#div9:hover{
    background-color: blue;
    font-weight: bolder;
    color:black;
}
